#main-container {
  min-height: 100vh;
  margin: 10vh 25vw;
  max-width: 1200px;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
}

@media (max-width: 450px) {
  #main-container {
    margin: 10vh 1rem;
  }
  .background {
    position: absolute;
    left: 0;
    top: 60px;
    width: 120vw;
  }
}

.create-job-button {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 40px 40px;
  border-radius: 8px;
  width: fit-content;
}

.create-job-button mat-button {
  width: 100%;  /* Faz o botão preencher todo o espaço disponível */
}

