<h1 mat-dialog-title>Sucesso no Cadastro!</h1>
<div mat-dialog-content>
  <div class="flex col jc-center al-center gap-1">
    <img class="success-img" src="../../../assets/success-svgrepo-com.svg" />
    <span class="subtitle">Cadastro concluído com êxito!</span>
    <span class="body">
      Agora você já pode acessar o sistema com seu usuário e senha criados.
    </span>
  </div>
</div>

<div mat-dialog-actions>
  <button
    id="redirect-to-login-btn"
    color="accent"
    mat-raised-button
    (click)="goToLogin()"
  >
    Ir para a tela de login
  </button>
</div>
