<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="candidate-dashboard">
  <h2>Meu Painel de Candidaturas</h2>

  <div *ngIf="applications.length > 0; else noApplications">
    <div *ngFor="let application of applications">
      <mat-card class="application-card">
        <mat-card-header>
          <mat-card-title>{{ application.jobVacancy.title }}</mat-card-title>
          <mat-card-subtitle>
    <span [ngClass]="{
    'status-approved': application.status === 'APROVADO',
    'status-rejected': application.status === 'REJEITADO',
    'status-pending': application.status === 'PENDENTE'
   }">
    {{ application.status | titlecase }}
    </span>
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
          <p><strong>Descrição:</strong> {{ application.jobVacancy.description }}</p>

          <div class="required-skills">
            <p><strong>Habilidades Requeridas:</strong></p>
            <ul>
              <li *ngFor="let skill of application.jobVacancy.requiredSkills">
                {{ skill.skillName }} ({{ skill.experienceYears }} anos de experiência)
              </li>
            </ul>
          </div>

          <!-- Feedback Section (se disponível) -->
          <div *ngIf="application.feedback" class="feedback">
            <h3>Feedback:</h3>
            <p>{{ application.feedback }}</p>
          </div>

          <!-- Status Section -->
          <div *ngIf="application.statusChat" class="chat-status">
            <h3>Status:</h3> <!-- Adicionado o título "Status" -->
            <mat-chip color="primary" class="chat-status-chip">{{ application.statusChat }}</mat-chip>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <ng-template #noApplications>
    <mat-card class="no-applications-card">
      <mat-card-content>
        <p>Você ainda não se candidatou a nenhuma vaga.</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<app-footer-info></app-footer-info>
